
.tooltip {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.tooltiptext {
  visibility: visible;
  width: max-content;
  background-color: red;
  color: #fff;
  padding: 6px 10px;
  border-radius: 4px;
  font-size: 14px;

  position: absolute;
  bottom: 120%;
  left: 50%;
  transform: translateX(-50%);

  white-space: nowrap;
  z-index: 1;

  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}

.tooltip:hover .tooltiptext {
  opacity: 1;
}
