.tooltip {
  position: relative;
  display: inline-block;
}

.tooltiptext {
  position: absolute;
  background: red;
  color: white;
  padding: 6px;
  border-radius: 4px;
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
  z-index: 10;
}
